extends platzi-games-pug-publico-clase-1-sintaxis/platzi-games-pug-publico-clase-1-sintaxis/componentes/plantilla.pug
block contenidos
		section.intro 
			.intro__imagen: img(src="platzi-games-pug-publico-clase-1-sintaxis/platzi-games-pug-publico-clase-1-sintaxis/images/imagen.png", alt="", srcset="")
			.intro__contenido 
				h2 #{titulos[0]} 
				p 
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, 
					| perferendis accusamus. Dicta voluptate, omnis mollitia iusto vel harum 
					| maxime non dolorem, quas distinctio velit illo repudiandae libero 
					| molestias voluptatum nam.
					span Lorem ipsum dolor sit amet consectetur adipisicing.
				a.boton(href="") leer mas 
		main.contenido
			+caja("/platzi-games-pug-publico-clase-1-sintaxis/platzi-games-pug-publico-clase-1-sintaxis/images/imagen.png",titulos[1],"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
			+caja("/platzi-games-pug-publico-clase-1-sintaxis/platzi-games-pug-publico-clase-1-sintaxis/images/imagen.png",titulos[1],"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
			+caja("/platzi-games-pug-publico-clase-1-sintaxis/platzi-games-pug-publico-clase-1-sintaxis/images/imagen.png",titulos[1],"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
			